Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
scikit-learn
matplotlib
pandas
streamlit
certifi
chardet
click
colorama
cycler
docopt
urllib3


Pillow
pipreqs
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug
yarg
mlxtend
nltk
